td{
    border: 2px solid black;
    padding: 15px;
}
body{
    background-color: burlywood;

}
table {
border-collapse: collapse;
}
h1{
    color:blue;
}
body{
    margin-left:25%;
}
h1{
    margin-left:20%
}
img{
    margin-left:20%
}
.Made-by-Nathan-Henok{
    text-align: center;
}